<hi> Notification will be here</hi>
<div class="column1">
    <div class="container">
        <h2>Student Details</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Qualification</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PQR</td>
                    <td>PQR has done BE from banglor </td>
                    <td>
                        beinbanglor@gmail.com
                    </td>
                    <td>
                        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Accept</button>
                        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Decline</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>