@{

    Layout = "_Layoutadmin";

}
 
<div class="column1">
    <div class="container">
        <h2>Student Detail</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Qualification</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PQR</td>
                    <td>PQR has done BE from banglor </td>
                    <td style="margin-left:auto;">
                        beinbanglor@gmail.com
                    </td>
                </tr>
            </tbody>
        </table>
        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Add student</button>
    </div>
</div>


