@{
    Layout = "_Layoutadmin";

}
<div class="column1">
    <div class="container">
        <h2>College Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Logo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XYZ</td>
                    <td>XYZ campus is located in bhadrapur jhapa.</td>
                    <td>
                        <img src="~/image/mechi.png" style="height:90px;width:120px" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Add</button>
        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Update</button>
        <button style="margin-bottom:500px" type="button" class="btn btn-primary">Delete</button>
    </div>
</div>